# This is a guide to show how to write a config file. In a real config file,
# all lines starting with '#' MUST be removed.
# Have a look at Appendix C to see a real config file.
# Each config file must start with a one-line comment:
This comment briefly explains the configuration.
# These next lines are fairly self-explanatory, they are the same as in the
# Simulation class.
epsilon:                   2     # Strength of repulsive force
mu:                        10    # Strength of propulsive force
alpha:                     700   # Strength of flocking force
gamma:                     600   # Strength of centripetal force
numberOfPeople:            500   # Initial number of people in the arena
flockRadius:               8     # r_flock (radius in which to search for
                                 # neighbors for the flocking force
dt:                        0.01  # Timestep
percentParticipating:      0.5   # Proportion of people initially participating
                                 # in the circle pit
rParticipating:            6     # Radius in which to search for participating
                                 # neighbors
minCirclePitSize:          1     # Min. number of neighbors needed to continue
                                 # participating in the circle pit
minParticipatingNeighbors: 3     # Min. number of neighbors needed to join in
                                 # circle pit
dataCollectionInterval:    2000  # After how many milliseconds to collect data
insertPoliceAfter:         0     # After how many timesteps (not milliseconds!)
                                 # police should be inserted.
collectDataThisManyTimes:  3     # How many times to collect data
useThisManySeeds:          2     # How many seeds to test
# The next section is a "graphical" representation of where the policemen are
# located. Each policeman is denoted by an 'x'. The representation below must
# include the  borders of the matrix and should be 10 spaces wide and 10 lines
# long.
policeConfig:
 __________
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
 ----------