# TLDR: In a real config file, remove any comments with a '#' and do not include any blank lines.
# This is a guide to show how to write a config file. In a real config file, all lines starting with '#' MUST be removed.
# Have a look at doubleHalfLine.config or verticalLine.config to see a real config file.
# Each config file must start with a one-line comment:
This is an example of such a comment.
# These next lines are fairly self-explanatory, they are the same as in the Simulation class.
epsilon:                   2
mu:                        10
alpha:                     700
gamma:                     600
numberOfPeople:            500
flockRadius:               8
dt:                        0.01
percentParticipating:      0.5
rParticipating:            6
minCirclePitSize:          1
minParticipatingNeighbors: 3
dataCollectionInterval:    2000  # After how many milliseconds to collect data
insertPoliceAfter:         0     # After how many timesteps (not milliseconds!) police should be inserted.
collectDataThisManyTimes:  3     # How many times to collect data
useThisManySeeds:          2     # How many seeds to test
# The next section is a "graphical" representation of where the policemen are located. Each policeman is denoted by an
# 'x'. The representation below must include the  borders of the matrix and should be 10 spaces wide and 10 lines long.
policeConfig:
 __________
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
|    x     |
 ----------