A diagonal line of policemen from upper left to lower right. Policemen are added after 5 seconds.
epsilon:                   2
mu:                        10
alpha:                     700
gamma:                     600
numberOfPeople:            500
flockRadius:               8
dt:                        0.01
percentParticipating:      0.5
rParticipating:            6
minCirclePitSize:          1
minParticipatingNeighbors: 4
dataCollectionInterval:    1000
insertPoliceAfter:         100
collectDataThisManyTimes:  300
useThisManySeeds:          50
policeConfig:
 __________
|x         |
| x        |
|  x       |
|   x      |
|    x     |
|     x    |
|      x   |
|       x  |
|        x |
|         x|
 ----------