A vertical line of policemen in the center of the arena. Policemen are added immediately.
epsilon:                   2
mu:                        10
alpha:                     700
gamma:                     600
numberOfPeople:            500
flockRadius:               8
dt:                        0.01
percentParticipating:      0.5
rParticipating:            6
minCirclePitSize:          1
minParticipatingNeighbors: 3
dataCollectionInterval:    2000
insertPoliceAfter:         0
collectDataThisManyTimes:  5
useThisManySeeds:          5
policeConfig:
 __________
|  x    x  |
|  x    x  |
|  xxxxxx  |
|          |
|          |
|          |
|          |
|          |
|          |
|          |
 ----------